.m-nav {
  padding: 0;
  text-align: center;
  font-family: 'Poiret One', serif;
}

.m-nav-list {
  padding: 0;
}

.m-nav-list--item {
  display: inline;
  padding: 1em;
  font-size: 1em;
}

.m-nav-list--link {
  padding: 0.2em;
  text-decoration: none;
}

.m-nav-list--link:hover {
  background: #6699FF;
  color: #FFF;
  padding: 0.5em;
  border-radius: 0.5em;
}
